body {
  max-width: none;
}
 h1 {
  color: rgb(71, 58, 34);
  margin-left: 50px;
  top:auto;
  font-size: 70px;

  font-family: "Ephesis", cursive;
  font-weight: 599;
  font-style: normal;
}


.piso {
  width: 100%;
  height: 150px;
  background-image: url('assets/piso.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute; 
  left: 0;
  bottom:0;
  z-index: 1; 
}

.escenario {
  position: relative;
  width: 100%;
  height: 100vh; /*ocupa toda la pantalla*/
  overflow: hidden;
}


.ventana {
  position: absolute;
  width: 300px;
  border-radius: 8px;
  padding: 5px;
  z-index: 999;
}

.ventana img {
  width: 100%;
  cursor: pointer;
}



.mesita {
  position: absolute;
  width: 200px;
  bottom: 70px;     /* pegada al piso */
  left: 250px;
  z-index: 2; /*piso por detrás*/
}
.poster {
  position: absolute;
  width: 150px;
  bottom: 390px;
  left: 4300px;
  z-index: 2; /*piso por detrás*/
}
.puertas {
  position: absolute;
  width: 200px;
  bottom: 150px;     /* apoyada en el piso */
  left: 900px;
  z-index: 2; /*piso por detrás*/
}


.cafe {
  position: absolute;
  width: 65px;
  bottom: 290px;     /* pegada al piso */
  left: 300px;
  z-index: 3; /* adelante*/
}
.silla {
  position: absolute;
  width: 230px;
  bottom: 64px; 
  left: 40px;
  z-index: 2; /*piso por detrás*/
}
.casa {
  position: absolute;
  width: 155px;
  bottom: 100px;     /* pegada al piso */
  left: 388px;
  z-index: 2; /*piso por detrás*/
}
.botas {
  position: absolute;
  width: 100px;
  bottom: 90px;     /* pegada al piso */
  left: 1490px;
  z-index: 2; /*piso por detrás*/
}
.armario {
  position: absolute;
  width: 300px;
  bottom:100px;/* apoyada en el piso */
  left: 844px;
  z-index: 3; /*piso por detras*/
  transition: transform 0.5s ease;
}
.escritorio {
  position: absolute;
  width: 450px;
  bottom: 37px;
  left: 3813px;
  z-index: 2; /*piso por detrás*/
}
.planta1 {
  position: absolute;
  width: 160px;
  bottom: 440px;
  left: 40px;
  z-index: 2; /*piso por detrás*/
}
.libros {
  position: absolute;
  width: 270px;
  bottom: 37px;
  left: 4288px;
  z-index: 2; /*piso por detrás*/
}
.escalera {
  position: absolute;
  width: 700px;
  bottom: 12px;
  right: 0px;
  z-index: 2; /*piso por detrás*/
}
.mapa {
  position: absolute;
  width: 300px;
  bottom: 400px;
  left: 3880px;
  z-index: 2; /*piso por detrás*/
}
.repisa {
  position: absolute;
  width: 300px;
 bottom: 380px;
  left: 470px;
  z-index: 2; /*piso por detrás*/
}
.gato {
  position: absolute;
  width: 100px;
  bottom: 275px;
  left: 470px;
  z-index: 2; /*piso por detrás*/
}
.radio {
  position: absolute;
  width: 130px;
  bottom: 396px;
  left: 608px;
  z-index: 2; /*piso por detrás*/
}
.ruana {
  position: absolute;
  width: 258px;
  bottom: 200px;
  left: 1400px;
  z-index: 2; /*piso por detrás*/
}
.cartas {
  position: absolute;
  width: 80px;
  bottom: 258px;
  left: 3888px;
  z-index: 2; /*piso por detrás*/
}
.guitar {
  position: absolute;
  width: 260px;
  bottom: 130px;
  left: 1100px;
  z-index: 2; /*piso por detrás*/
}
.pluma {
  position: absolute;
  width: 90px;
  bottom: 262px;
  left: 4085px;
  z-index: 2; /*piso por detrás*/
}
.planta2 {
  position: absolute;
  width: 120px;
  bottom: 100px;
  left: 2415px;
  z-index: 2; /*piso por detrás*/
}
.maquina {
  position: absolute;
  width: 130px;
  bottom: 260px;
  left: 3975px;
  z-index: 2; /*piso por detrás*/
}
.hadas {
  position: absolute;
  width: 90px;
  bottom: 430px;
  left: 520px;
  z-index: 2; /*piso por detrás*/
}
.reloj {
  position: absolute;
  width: 150px;
  bottom: 430px;
  left: 1260px;
  z-index: 2; /*piso por detrás*/
}
.mesa {
 position: absolute;
  width: 450px;
  bottom: 10px;
  left: 1700px;
  z-index: 2; /*piso por detrás*/
}
.cuadros {
  position: absolute;
  width: 380px;
  bottom: 60px;
  left: 2100px;
  z-index: 2; /*piso por detrás*/
}
.ventanax {
  position: absolute;
  width: 320px;
  bottom: 220px;
  left: 1770px;
  z-index: 2; /*piso por detrás*/
}
.banano {
  position: absolute;
  width: 70px;
  bottom: 293px;
  left: 1840px;
  z-index: 3; /*piso por detrás*/
}
.granada {
  position: absolute;
  width: 55px;
  bottom: 304px;
  left: 1948px;
  z-index: 3; /*piso por detrás*/
}
.mango {
  position: absolute;
  width: 45px;
  bottom: 303px;
  left: 1900px;
  z-index: 2; /*piso por detrás*/
}
.papa {
  position: absolute;
  width: 150px;
  bottom: 98px;
  left: 1900px;
  z-index: 2; /*piso por detrás*/
}
.pita {
  position: absolute;
  width: 40px;
  bottom: 300px;
  left: 1886px;
  z-index: 3; /*piso por detrás*/
}
.aguacate {
  position: absolute;
  width: 66px;
  bottom: 300px;
  left: 1790px;
  z-index: 2; /*piso por detrás*/
}
.cuc {
  position: absolute;
  width: 90px;
  bottom: 303px;
  left: 1880px;
  z-index: 2; /*piso por detrás*/
}
.arm {
  position: absolute;
  width: 120px;
  bottom: 75px;
  left: 3670px;
  z-index: 2; /*piso por detrás*/
}
.boli {
  position: absolute;
  width: 76px;
  bottom: 430px;
  left: 315px;
  z-index: 2; /*piso por detrás*/
}
.espada {
  position: absolute;
  width: 250px;
  bottom: 439px;
  left: 2717px;
  z-index: 3; /*piso por detrás*/
}
.paño {
  position: absolute;
  width: 76px;
  bottom: 110px;
  left: 1630px;
  z-index: 2; /*piso por detrás*/
}
.sofa {
  position: absolute;
  width: 595px;
  bottom: 3px;
  left: 2500px;
  z-index: 2; /*piso por detrás*/
}
.repisa2 {
  position: absolute;
  width: 300px;
  bottom: 430px;
  left: 2681px;
  z-index: 2; /*piso por detrás*/
}
.gato2 {
  position: absolute;
  width: 115px;
  bottom: 60px;
  left: 2180px;
  z-index: 2; /*piso por detrás*/
}
.paper {
  position: absolute;
  width: 110px;
  bottom: 140px;
  left: 3088px;
  z-index: 3; /*piso por detrás*/
}
.frai {
  position: absolute;
  width: 80px;
  bottom: 208px;
  left: 2900px;
  z-index: 2; /*piso por detrás*/
}
.bola {
  position: absolute;
  width: 40px;
  bottom: 60px;
  left: 2260px;
  z-index: 2; /*piso por detrás*/
}
.pap {
  position: absolute;
  width: 100px;
  bottom: 83px;
  left: 2297px;
  z-index: 3; /*piso por detrás*/
}
.silli {
  position: absolute;
  width: 156px;
  bottom: 85px;
  left: 3065px;
  z-index: 2; /*piso por detrás*/
}
.vela {
  position: absolute;
  width: 57px;
  bottom: 474px;
  left: 2710px;
  z-index: 2; /*piso por detrás*/
}
.pasta {
 position: absolute;
  width: 55px;
  bottom: 268px;     /* pegada al piso */
  left: 350px;
  z-index: 3; /* adelante*/
}
.llaves {
  position: absolute;
  width: 50px;
  bottom: 253px;
  left: 4143px;
  z-index: 2; /*piso por detrás*/
}
.monedas {
  position: absolute;
  width: 55px;
  bottom: 290px;
  left: 1970px;
  z-index: 3; /*piso por detrás*/
}
.abu {
  position: absolute;
  width: 330px;
  bottom: 48px;
  left: 3216px;
  z-index: 3; /*piso por detrás*/
}
.chiqui {
  position: absolute;
  width: 97px;
  bottom: 410px;
  left: 3468px;
  z-index: 2; /*piso por detrás*/
}
.m19 {
  position: absolute;
  width: 80px;
  bottom: 305px;
  left: 3485px;
  z-index: 2; /*piso por detrás*/
}
.carmen {
  position: absolute;
  width: 90px;
  bottom: 370px;
  left: 3567px;
  z-index: 2; /*piso por detrás*/
}
.mano {
  position: absolute;
  width: 60px;
  bottom: 330px;
  left: 3423px;
  z-index: 2; /*piso por detrás*/
}
.hh {
  position: absolute;
  width: 60px;
  bottom: 502px;
  left: 3567px;
  z-index: 2; /*piso por detrás*/
}
.band {
   position: absolute;
  width: 100px;
  bottom: 400px;
  left: 3365px;
  z-index: 2; /*piso por detrás*/
}
.memoria {
  position: absolute;
  width: 100px;
  bottom: 459px;
  left: 3365px;
  z-index: 2; /*piso por detrás*/
}
.escalera {
 position: absolute;
  width: 800px;
  bottom: 3px;
  left: 100;
  z-index: 2; /*piso por detrás*/
}
