body {
  max-width: none;
}
 h1 {
  color: black;
  text-align: center;
  padding-top: 3%;
}

.piso {
  width: 100%;
  height: 150px;
  background-image: url('assets/piso.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute; 
  left: 0;
  bottom:0;
  z-index: 1; /*piso por detrás*/
}

.escenario {
  position: relative;
  width: 100%;
  height: 100vh; /*ocupa toda la pantalla*/
  overflow: hidden;
}


.ventana {
  position: absolute;
  width: 220px;
  background: white;
  border: 3px solid violet;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 5px;
  z-index: 999;
}

.ventana img {
  width: 100%;
  cursor: pointer;
}



.mesita {
  position: absolute;
  width: 200px;
  bottom: 70px;     /* pegada al piso */
  left: 250px;
  z-index: 2; /*piso por detrás*/
}
.poster {
  position: absolute;
  width: 150px;
  top: 30px;
  right: 1040px;
  z-index: 2; /*piso por detrás*/
}
.puertas {
  position: absolute;
  width: 200px;
  bottom: 150px;     /* apoyada en el piso */
  left: 900px;
  z-index: 2; /*piso por detrás*/
}
.cafe {
  position: absolute;
  width: 65px;
  bottom: 293px;     /* pegada al piso */
  left: 300px;
  z-index: 3; /* adelante*/
}
.silla {
  position: absolute;
  width: 230px;
  bottom: 64px; 
  left: 40px;
  z-index: 2; /*piso por detrás*/
}
.casa {
  position: absolute;
  width: 155px;
  bottom: 100px;     /* pegada al piso */
  left: 388px;
  z-index: 2; /*piso por detrás*/
}
.botas {
  position: absolute;
  width: 100px;
  bottom: 90px;     /* pegada al piso */
  left: 1490px;
  z-index: 2; /*piso por detrás*/
}
.armario {
  position: absolute;
  width: 300px;
  bottom:100px;/* apoyada en el piso */
  left: 844px;
  z-index: 3; /*piso por detras*/
}
.escritorio {
  position: absolute;
  width: 450px;
  bottom: 37px;
  right: 1200px;
  z-index: 2; /*piso por detrás*/
}
.escalera {
position: absolute;
  width:600px;
  bottom: 3px;
  right:0;
  z-index: 2; /*piso por detrás*/
}
.planta1 {
  position: absolute;
  width: 160px;
  bottom: 440px;
  left: 40px;
  z-index: 2; /*piso por detrás*/
}
.libros {
  position: absolute;
  width: 270px;
  bottom: 37px;
  right: 930px;
  z-index: 2; /*piso por detrás*/
}
.escalera {
  position: absolute;
  width: 700px;
  bottom: 12px;
  right: 0px;
  z-index: 2; /*piso por detrás*/
}
.mapa {
  position: absolute;
  width: 300px;
  top: 30px;
  right: 1300px;
  z-index: 2; /*piso por detrás*/
}
.repisa {
  position: absolute;
  width: 300px;
 bottom: 380px;
  left: 470px;
  z-index: 2; /*piso por detrás*/
}
.gato {
  position: absolute;
  width: 100px;
  bottom: 275px;
  left: 470px;
  z-index: 2; /*piso por detrás*/
}
.radio {
  position: absolute;
  width: 130px;
  bottom: 396px;
  left: 608px;
  z-index: 2; /*piso por detrás*/
}
.ruana {
  position: absolute;
  width: 258px;
  bottom: 200px;
  left: 1400px;
  z-index: 2; /*piso por detrás*/
}
.cartas {
  position: absolute;
  width: 80px;
  bottom: 258px;
  right: 1488px;
  z-index: 2; /*piso por detrás*/
}
.guitar {
  position: absolute;
  width: 260px;
  bottom: 130px;
  left: 1100px;
  z-index: 2; /*piso por detrás*/
}
.pluma {
  position: absolute;
  width: 90px;
  bottom: 262px;
  right: 1288px;
  z-index: 2; /*piso por detrás*/
}
.planta2 {
  position: absolute;
  width: 120px;
  bottom: 100px;
  left: 2415px;
  z-index: 2; /*piso por detrás*/
}
.maquina {
  position: absolute;
  width: 230px;
  bottom: 240px;
  right: 1312px;
  z-index: 2; /*piso por detrás*/
}
.hadas {
  position: absolute;
  width: 90px;
  bottom: 430px;
  left: 520px;
  z-index: 2; /*piso por detrás*/
}
.reloj {
  position: absolute;
  width: 150px;
  bottom: 430px;
  left: 1260px;
  z-index: 2; /*piso por detrás*/
}
.mesa {
 position: absolute;
  width: 450px;
  bottom: 10px;
  left: 1700px;
  z-index: 2; /*piso por detrás*/
}
.cuadros {
  position: absolute;
  width: 380px;
  bottom: 60px;
  left: 2100px;
  z-index: 2; /*piso por detrás*/
}
.ventanax {
  position: absolute;
  width: 320px;
  bottom: 220px;
  left: 1770px;
  z-index: 2; /*piso por detrás*/
}
.banano {
  position: absolute;
  width: 70px;
  bottom: 293px;
  left: 1840px;
  z-index: 3; /*piso por detrás*/
}
.granada {
  position: absolute;
  width: 49px;
  bottom: 307px;
  left: 1948px;
  z-index: 3; /*piso por detrás*/
}
.mango {
  position: absolute;
  width: 45px;
  bottom: 303px;
  left: 1900px;
  z-index: 2; /*piso por detrás*/
}
.papa {
  position: absolute;
  width: 150px;
  bottom: 98px;
  left: 1900px;
  z-index: 2; /*piso por detrás*/
}
.pita {
  position: absolute;
  width: 40px;
  bottom: 300px;
  left: 1886px;
  z-index: 3; /*piso por detrás*/
}
.aguacate {
  position: absolute;
  width: 66px;
  bottom: 300px;
  left: 1790px;
  z-index: 2; /*piso por detrás*/
}
.cuc {
  position: absolute;
  width: 90px;
  bottom: 303px;
  left: 1880px;
  z-index: 2; /*piso por detrás*/
}
.arm {
  position: absolute;
  width: 110px;
  bottom: 67px;
  right: 1690px;
  z-index: 2; /*piso por detrás*/
}
.boli {
  position: absolute;
  width: 76px;
  bottom: 430px;
  left: 315px;
  z-index: 2; /*piso por detrás*/
}
.espada {
  position: absolute;
  width: 250px;
  bottom: 439px;
  left: 2717px;
  z-index: 3; /*piso por detrás*/
}
.paño {
  position: absolute;
  width: 76px;
  bottom: 110px;
  left: 1630px;
  z-index: 2; /*piso por detrás*/
}
.sofa {
  position: absolute;
  width: 595px;
  bottom: 3px;
  left: 2500px;
  z-index: 2; /*piso por detrás*/
}
.repisa2 {
  position: absolute;
  width: 300px;
  bottom: 430px;
  left: 2681px;
  z-index: 2; /*piso por detrás*/
}
.gato2 {
  position: absolute;
  width: 115px;
  bottom: 80px;
  left: 2180px;
  z-index: 2; /*piso por detrás*/
}
.paper {
  position: absolute;
  width: 110px;
  bottom: 170px;
  right: 2250px;
  z-index: 2; /*piso por detrás*/
}
.frai {
  position: absolute;
  width: 80px;
  bottom: 208px;
  right: 2485px;
  z-index: 2; /*piso por detrás*/
}
.bola {
  position: absolute;
  width: 40px;
  bottom: 80px;
  left: 2260px;
  z-index: 2; /*piso por detrás*/
}
.pap {
  position: absolute;
  width: 100px;
  bottom: 208px;
  right: 2485px;
  z-index: 3; /*piso por detrás*/
}
.silli {
  position: absolute;
  width: 156px;
  bottom: 78px;
  right: 2260px;
  z-index: 2; /*piso por detrás*/
}
.vela {
  position: absolute;
  width: 80px;
  bottom: 208px;
  right: 2485px;
  z-index: 2; /*piso por detrás*/
}
.pasta {
  position: absolute;
  width: 90px;
  bottom: 430px;
  left: 520px;
  z-index: 2; /*piso por detrás*/
}
.llaves {
  position: absolute;
  width: 90px;
  bottom: 430px;
  left: 520px;
  z-index: 2; /*piso por detrás*/
}
.monedas {
  position: absolute;
  width: 90px;
  bottom: 430px;
  left: 520px;
  z-index: 2; /*piso por detrás*/
}